.message-center-growl {
    position:fixed;
    max-width:600px;
    z-index:99999;
}

.message-center-growl .close{
    margin-left:20px;
    margin-top:-2px;
}

.message-center-growl.bottom {
    bottom:10px;
}

.message-center-growl.top {
    top: 10px;
}

.message-center-growl.bottom > div {
    margin-bottom:10px;
}

.message-center-growl.top > div {
    margin-top:10px;
}

.message-center-growl.bottom.left {
    left:20px;
}

.message-center-growl.bottom.right {
    right:20px;
}

.message-center-growl.top.left {
    left:20px;
}

.message-center-growl.top.right {
    right:20px;
}